* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

.background {
    background: url(/cssMemSlider/assets/gif/gif.gif) no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    max-width: 900px;
    max-height: 750px;
    width: 100%;
    height: 100%;
    margin: auto;
}

header {
    text-align: center;
}

.logo {
    width: 30%;
    margin: 10px;
}

.container {
    width: 100%;
}

.slider {
    max-width: 65em;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    border-radius: 22px;
}

.slider-assets {
    display: flex;
    box-shadow: 0px 0px 20px red;
}

.slider-asset {
    width: 100%;
    height: 500px;
    transition: 1s;
}

.img-sl1 {
    max-width: 900px;
    /* display: block; */
    width: 900px;
    height: 100%;
}

.img-sl2 {
    max-width: 900px;
    /* display: block; */
    width: 900px;
    height: 100%;
}

.img-sl3 {
    max-width: 900px;
    /* display: block; */
    width: 900px;
    height: 100%;
}

.img-sl4 {
    max-width: 900px;
    /* display: block; */
    width: 900px;
    height: 100%;
}


.slider-desr {
    width: 100%;
    max-width: 80%;
    overflow: hidden;
}

.descr-in {
    width: 500%;
    display: flex;
}

.slide-item {
    width: 30%;
    transition: 1s;
}

.slide-item>p {
    font-family: 'Koulen', cursive;
    font-size: 1.7rem;
    color: red;
    text-shadow: 0px 0px 5px red;
}

.slider-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 20%;
}

.for-mob {
    display: flex;
}

.label-btn {
    display: flex;
    justify-content: center;
    height: 1.8em;
    width: 50%;
    cursor: pointer;
    border-radius: 10%;
    align-items: center;
}

.sp-cir {
    display: block;
    width: 35px;
    height: 12px;
    background-color: black;
    opacity: 0.8;
    border-radius: 10px;
    transition: 1s;
    margin: 0px 5px;
    box-shadow: 0px 0px 10px red;
}

.label-btn:hover .sp-cir {
    transition: 0.6s;
    opacity: 1;
}

.slide-move {
    display: none;
}

#input1:checked~.for-mob .slider-btns .btn-1 .sp-cir,
#input2:checked~.for-mob .slider-btns .btn-2 .sp-cir,
#input3:checked~.for-mob .slider-btns .btn-3 .sp-cir,
#input4:checked~.for-mob .slider-btns .btn-4 .sp-cir {
    box-shadow: 0px 0px 10px red;
    background-color: red;
}

#input1:checked~.slider-assets .slider-asset {
    margin-left: 0;
}

#input2:checked~.slider-assets .slider-asset {
    margin-left: -25%;
}

#input3:checked~.slider-assets .slider-asset {
    margin-left: -50%;
}

#input4:checked~.slider-assets .slider-asset {
    margin-left: -75%;
}

#input1:checked~.for-mob .slider-desr .descr-in .item1 {
    margin-left: 0;
}

#input2:checked~.for-mob .slider-desr .descr-in .item1 {
    margin-left: -30%;
}

#input3:checked~.for-mob .slider-desr .descr-in .item1 {
    margin-left: -60%;
}

#input4:checked~.for-mob .slider-desr .descr-in .item1 {
    margin-left: -90%;
}

/* MEDIA QUERIES */

/* @media screen and (max-width: 950px) {
    .slide-item>p {
        font-size: 1.4rem;

    }
}

@media screen and (max-width: 800px) {
    header {
        font-size: 1.4rem;
        height: 5vh;
    }

    .slide-item>p {
        font-size: 1.3rem;

    }


} */





/* @media screen and (max-width: 690px) {
    header {
        font-size: 1.2rem;
        padding-bottom: 3rem;
    }

    main {
        padding-bottom: 3.75rem;

    }

    footer {
        padding: 5rem;
    }

    .container {
        padding: 0;
        height: 40vh;
        padding-bottom: 3.75rem;
        border: 3px solid green;

    } */

/* .slide-item>p {
        padding-bottom: 1rem;

        font-size: 1rem;

    }

    .for-mob {
        flex-direction: column;
        align-items: center;
    }

    .slider-btns {
        max-width: 7rem;
    }

    .sp-cir{ 
        width: 0.8rem;
        height: 0.8rem;
    }
    .slider-asset>img {
        width: 34.375rem
    } */

/* } */


/* @media screen and (max-width: 550px) {
    .slide-item>p {
        font-size: 0.65rem;

    }

    .container {
        height: 30vh;
        padding-bottom: 4rem;
    }

    .slider-asset>img {
        width: 28.125rem;
    }



    .rsschool {
        width: 6.25rem;
    }

    .foot-m>* {
        font-size: 0.9rem;
    }

    footer {
        padding: 3rem;
    }
} */